**Imputasi**

In [28]:
import pandas as pd
import numpy as np

kolom = {'col1':[2,9,12],
         'col2':[5,np.nan,17],
         'col3':[3,9,np.nan],
         'col4':[6,0,9],
         'col5':[np.nan,7,np.nan]}
data=pd.DataFrame(kolom)

Mean

In [31]:
data.fillna(data.mean())

   col1  col2  col3  col4  col5
0     2   5.0   3.0     6   7.0
1     9  11.0   9.0     0   7.0
2    12  17.0   6.0     9   7.0

In [17]:
!pip install feature-engine

Requirement already satisfied: feature-engine in /usr/local/lib/python3.7/dist-packages (1.2.0)
Requirement already satisfied: scikit-learn>=0.22.2 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.0.2)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.3.5)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.4.1)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (1.21.5)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from feature-engine) (0.13.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature-engine) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature-engine) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature-engine) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature-engine) (3.1.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature-engine) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature-engine) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels>=0.11.1->feature-engine) (3.0.7)

In [38]:
import pandas as pd
import numpy as np

umur = {'umur': [29,43,np.nan,25,34,np.nan,50]}
data = pd.DataFrame(umur)

In [39]:
from feature_engine.imputation import EndTailImputer

#membuat imputer
imputer = EndTailImputer(imputation_method='gaussian', tail='right')

#fitkan-imputer ke set
imputer.fit(data)

#ubah data
test_data = imputer.transform(data)

#tampilkan data
test_data

        umur
0  29.000000
1  43.000000
2  66.896905
3  25.000000
4  34.000000
5  66.896905
6  50.000000

**Kategorikal**

In [57]:
from sklearn.impute import SimpleImputer
mobil = {'merk':['Ford','Ford','Toyota','Honda',np.nan,'Toyota','Honda','Toyota',np.nan,np.nan]}
data = pd.DataFrame(mobil)

In [52]:
data

    mobil
0    Ford
1    Ford
2  Toyota
3   Honda
4     NaN
5  Toyota
6   Honda
7  Toyota
8     NaN
9     NaN

In [65]:
imp = SimpleImputer(strategy='most_frequent')

In [66]:
imp.fit_transform(data)

array([['Ford'],
       ['Ford'],
       ['Toyota'],
       ['Honda'],
       ['Toyota'],
       ['Toyota'],
       ['Honda'],
       ['Toyota'],
       ['Toyota'],
       ['Toyota']], dtype=object)

**Bagaimana kalau kita butuh untuk mengatasi missing value kategorikal dan numerikal secara bersamaan?**

In [49]:
from feature_engine.imputation import RandomSampleImputer

data = {'Jenis Kelamin': ['Pria','Wanita','Pria','Wanita','Pria','Wanita','Wanita',np.nan,'Pria',np.nan],
        'Umur':[29,np.nan,32,43,50,22,np.nan,52,np.nan,17]}

df = pd.DataFrame(data)

In [50]:
df

  Jenis Kelamin  Umur
0          Pria  29.0
1        Wanita   NaN
2          Pria  32.0
3        Wanita  43.0
4          Pria  50.0
5        Wanita  22.0
6        Wanita   NaN
7           NaN  52.0
8          Pria   NaN
9           NaN  17.0

In [60]:
#Buat Imputer
imputer = RandomSampleImputer(random_state=29)

#fit kan
imputer.fit(df)

#ubah data
testing_df = imputer.transform(df)

In [61]:
testing_df

  Jenis Kelamin  Umur
0          Pria  29.0
1        Wanita  52.0
2          Pria  32.0
3        Wanita  43.0
4          Pria  50.0
5        Wanita  22.0
6        Wanita  50.0
7        Wanita  52.0
8          Pria  22.0
9        Wanita  17.0